@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@import "tailwindcss";
@plugin "daisyui";

/* Customize Existing Theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #007aff;
  --color-secondary: teal;
  --color-accent: #706F6F;
}

.slick-slide > div{
  margin: 0 15px;
}
.slick-prev:before, .slick-next:before{
  color:  #007aff !important;
  font-size: 30px !important;
}
.slick-prev, .slick-next{
  z-index: 100 !important;
}

html {
  scroll-behavior: smooth;
}

*{
    font-family: "Quicksand", sans-serif;
}
body button{
  cursor: pointer;
}
a{
  border: none;
}